configure
Makefile
Makefile.in
INSTALL
install-sh
autom4te.cache
compile
aclocal.m4
config.log
config.status
depcomp
.deps
rakconvert
rakgit2new
rakverb
rakverb2
missing
config.h
config.h.in
rakarrack
stamp-h1
*.o
